server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ewmdb
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

management:
  endpoints:
    web:
      exposure:
        include: health, info

stat:
  server:
    url: ${STAT_SERVER_URL:http://statserver:9090}
